@model SDMS.DTO.DTO.TakeCashDTO
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>提现详情</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>
<body class="bgcolor">
    <div class="form">
        <div class="form-group2">
            <div class="form-label">申请提现金额</div>
            <div class="form-input"><input type="text" readonly value="@Model.Amount" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">提现状态</div>
            <div class="form-input"><input type="text" readonly value="@Model.TakeCashStateName" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">凭证图片</div>
            <div class="form-input">
                @if(!string.IsNullOrEmpty(Model.ImgUrl))
                {
                    <a href="@Model.ImgUrl">点击查看</a>
                }
            </div>
        </div>
        <div class="form-group2">
            <div class="form-label">消息</div>
            <div class="form-input"><input type="text" readonly value="@Model.Message" /></div>
        </div>
        <div class="form-group2">
            <div class="form-label">申请提现时间</div>
            <div class="form-input"><input type="text" readonly value="@Model.CreateTime.ToString("HH:mm:dd yyyy-MM-dd")" /></div>
        </div>
    </div>

    <div class="form-btn">
        <a onclick="javascript:history.back(-1);">返回</a>
    </div>
    <div class="footer">
        <ul>
            <li>
                <div><a href="/home/index"><img src="/images/menu-home.png" alt="" /></a></div>

                <p>首页</p>
                <span></span>
            </li>
            <li id="point">
                <div><a href="/home/share"><img src="/images/menu-bonus.png" alt="" /></a></div>
                <p>分红</p>
                <span></span>
            </li>
            <li>
                <div><a href="/takecash/list"><img src="/images/menu-withdrawals-a.png" alt="" /></a></div>
                <p>提现</p>
                <span></span>
            </li>
            <li>
                <div><a href="/myinfo/list"><img src="~/images/menu-user.png" alt="" /></a></div>
                <p>我的</p>
                <span></span>
            </li>
        </ul>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: "/home/getpoint", type: "post", data: {},
            success: function (result) {
                $("#point").addClass("active");
                if (result.data == false) {
                    $("#point").removeClass("active");
                }
            },
            error: function () {
            }
        });
    </script>
</body>
</html>
