@model SDMS.Web.Areas.Admin.Models.TakeCash.TakeCashViewModel
<div class="dataTable">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="t1">
        <thead>
            <tr>
                <th>编号</th>
                <th>提现金额</th>
                <th>提现消息</th>
                <th>转账图片</th>
                <th>是否成功提现</th>
                <th>提现申请日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="pagerList">
            @foreach (var takeCash in Model.TakeCashes)
            {
                <tr>
                    <td align="center">@takeCash.Id</td>
                    <td align="center">@takeCash.Amount</td>
                    <td align="center">@takeCash.Message</td>
                    <td align="center"><img src="@takeCash.ImgUrl"></td>
                    <td align="center">@takeCash.TakeCashStateName</td>
                    <td align="center">@takeCash.CreateTime</td>
                    <td align="center">
                        <a class="easyui-linkbutton" iconcls="icon-edit" href="/admin/takecash/confirm/@takeCash.Id">确认提现</a>
                        <a class="easyui-linkbutton" iconcls="icon-edit" href="/admin/takecash/reject/@takeCash.Id">驳回</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="nextpage">
    @Html.Raw(Model.Page)
</div>
