@model SDMS.DTO.DTO.StockItemDTO
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>设置项目</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
    <div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    项目名：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="name" value="@Model.Name" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    项目描述：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="description" value="@Model.Description" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    项目总金额：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="totalAmount" value="@Model.TotalAmount" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    项目总份数：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="totalCopies" value="@Model.TotalCopies" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    发行份数：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="issueCopies" value="@Model.IssueCopies" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    每份单价：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="unitPrice" readonly value="@Model.UnitPrice" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                    <span class="text-danger">*</span>
                    剩余发行份数：
                </label>
                <div class="col-sm-4">
                    <input type="text" id="haveCopies" readonly value="@Model.HaveCopies" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group fast">
            <div class="form-horizontal col-md-12">
                <label class="col-sm-2 control-label">
                </label>
                <div class="col-sm-2">
                    <input type="hidden" id="id" value="@Model.Id" />
                    <input type="button" id="btnSave" class="form-control" value="提交" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                var id = $("#id").val();
                var name = $("#name").val();
                var totalAmount = $("#totalAmount").val();
                var description = $("#description").val();
                var totalCopies = $("#totalCopies").val();
                var issueCopies = $("#issueCopies").val();
                $.ajax({
                    url: "/admin/stockitem/setup", type: "post",
                    data: { id: id, name: name, totalAmount: totalAmount, description: description, totalCopies: totalCopies, issueCopies: issueCopies },
                    success: function (result) {
                        if (result.status == "1") {
                            alert("设置成功");
                            window.location.href = result.data;
                        }
                        else if (result.status == "0") {
                            alert(result.msg);
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>
</body>
</html>